/**
 * Designed and developed by Namanyay Goel
 * http://namanyayg.com/ | @namanyayg
 */

@import 'partials/_normalize'
@import 'partials/_var'

/* ==========================================================================

    LET'S GET STARTED!

   ========================================================================== */


body
  font-family 'Source Sans Pro', serif
  font-weight 300
  font-size 125%
  color #353535

$text-color = desaturate(#0a3d5d, 60%)
$brand-color = #2996ff

h1, h2, h3
  font-weight 300
  color $text-color

a
  color $brand-color
  &:focus
    outline none


/* ==========================================================================
   =Content
   ========================================================================== */

.site-header, .site-footer {
  color: $color--alt-bg-text--light;
  background: $color--alt-bg;
  background: radial-gradient($color--alt-bg, $color--alt-bg--dark);
  font-family: $alt--font-family;
  padding: $spacing-unit * 2 0;
  font-weight: 400;

  // Positioning context for the mobile navigation icon
  position: relative;

  a {
    border: none;
    &:hover {
      color: $color--alt-bg-text;
    }
  }
}

.site-header > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.svg-logo {
  display: inline-block;
  width: 30px;
  margin-right: .2em;
  path {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 40px;
    stroke: $color--alt-bg-text !important;
  }
}

.site-header {
  margin: 0 0 4em;
}

.site-title {
  font-size: 2.1875rem;
  text-decoration: none;
  line-height: $base-line-height * $base-font-size * 2.25;
  color: $color--alt-bg-text !important;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: 400;

  &,
  &:visited {
    color: inherit;
  }
}

.logo__apostrophe {
  transform: rotate(6deg) translate(-2px, 0);
  display: inline-block;
}

.site-nav {
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $color--alt-bg-text--light;
    line-height: $base-line-height;
    text-transform: lowercase;
    text-decoration: none;

    span {
      transition: all .15s ease;
      display: inline-block;
      color: $color--alt-bg-text--light;
    }

    &:hover {
      color: $color--alt-bg-text--light;
      span {
        color: $color--alt-bg-text;
        transform: translateY(-.25em);
      }
    }
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: $spacing-unit;
      &:after {
        content: "◦";
        margin-left: $spacing-unit;
        opacity: .3;
      }
    }
  }

  @media mqPalm {
    position: absolute;
    top: 9px;
    right: 1rem;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $color--alt-bg-text--light;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      margin-left: 20px;
      font-size: 1rem;
      text-transform: capitalize;

      &:hover {
        span {
          transform: none
        }
      }

      &:after {
        display: none;
      }

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  font-size: .75em;
  text-align: center;
  color: $color--alt-bg-text--light;

  p {
    margin-bottom: $spacing-unit / 2;
  }
}

.footer-title {
  font-size: 2.1875rem;
  text-decoration: none;
  font-weight: 400;
  margin-bottom: $spacing-unit / 2;
  color: $color--alt-bg-text;
}


/* ==========================================================================
   =Content
   ========================================================================== */

h2
  margin .375em 0 .65em

h3
  margin 0 0 1.5em

.wrapper
  max-width 60em
  margin 0 auto
  padding 0 1rem

.creations
  overflow hidden
  max-width 60em
  margin 0 auto 4em

.creation
  overflow hidden
  display flex
  flex-direction row
  justify-content space-between
  width 100%
  margin 0 0 4em

  a
    text-decoration none

  &__img
    position relative
    width calc(50% - 1em)

  &__overlay
    content ''
    position absolute
    left 0
    top 0
    bottom 0
    right 0
    z-index 2

  &__content
    width calc(50% - 1em)

  footer
    font-size .875em

  &__name
    text-shadow 1px 1px rgba(black, .1)
    font-size 1.5em
    font-weight 400
    margin 0 0 .5rem
    color inherit

  &__date-and-age
    display inline-block

    .date
      font-weight 400

  &__type
    padding .1em .375em
    margin-right .375em
    border-radius 3px
    font-weight 400
    display inline-block
    border 2px solid
    text-shadow 1px 1px rgba(black, .1)

  &__link
    box-sizing border-box
    display inline-block
    font-weight 400
    color white
    padding .5em 1em
    text-shadow 1px 1px rgba(black, .1)
    border-radius 3px
    width 9rem
    text-align center
    transition all .3s ease

    &:after
      content ' →'

    &:hover, &:active, &:focus
      box-shadow inset 0 0 10em rgba(black, .2)

  &__source
    display block
    font-size .875em
    padding-top .25em
    width 9rem
    text-align center

    a
      border-bottom thin solid mix(#eee, $brand-color)

  img
    width 100%

creation-style(color)
  .creation__overlay
    background rgba(color, .05)
  .creation__type
    color color
    border-color color
  .creation__link
    background color

.collisions
  creation-style #0ead15

.keyzen
  creation-style #0bb667

.equipot
  creation-style #FF5722

.acgen
  creation-style #3F51B5

.lccpp
  creation-style #2979FF

.shm-simulator
  creation-style #9C27B0

.ac-video
  creation-style #FFAB00

.diode
  creation-style #ff5589

.bandc
  creation-style #565e8e

.acgraphs
  creation-style #009688



/* ==========================================================================
   =MEDIA
   ========================================================================== */

// @media (max-width 90em) 

@media (max-width 65em)
  h1
    font-size 3em
  h2, h3
    font-size 1em

@media (max-width 50em)
  body
    max-width 25em
    margin: 0 auto;

@media (max-width 35em)
  body
    font-size 112.5%